@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@font-face {
  font-family: 'TAN Moonlight';
  src: url('./font/tan-moonlight/Moonlight.otf') format('opentype'),
       url('./font/tan-moonlight/Moonlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bw-background::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./images/3C0DED25-265D-44BD-9E9D-81C7F02E93F2.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: 0;
  opacity: 1;
}

.bw-background > * {
  position: relative;
  z-index: 1;
}

